body {
    margin: 0;
    background: #000;
}

.wrapper {
    height: 90vh;
    margin: 30px;
    /* background: yellow; */
    border: 3px solid yellow;
    padding: 10px;
    border-radius: 15px;
    position: relative;
}

p {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin: 0;
    padding: 10px 0px;
    border-radius: 15px;
    background: linear-gradient(45deg, #006400, #ACE1AF, #EF0107);
    
    max-width: 300px;
    margin: 0 auto;
    -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
}



.present1 {
    animation-name: newYear1 ;
    animation-duration: .8s;
    cursor: pointer;
    animation-iteration-count: infinite;
    
    position: absolute;
    top: 93px;
    left: 46px;
}

.present2 {
    animation-name: newYear2 ;
    animation-duration: .8s;
    cursor: pointer;
    animation-iteration-count: infinite;
    
    position: absolute;
    top: 93px;
    right: 46px;
}


.present3 {
    animation-name: newYear3 ;
    animation-duration: .8s;
    cursor: pointer;
    animation-iteration-count: infinite;
    
    position: absolute;
    bottom: 93px;
    right: 46px;
}

.present4 {
    animation-name: newYear4 ;
    animation-duration: .8s;
    cursor: pointer;
    animation-iteration-count: infinite;
    
    position: absolute;
    bottom: 93px;
    left: 46px;
}


.present5 {
    animation-name: newYear5 ;
    animation-duration: .8s;
    cursor: pointer;
    animation-iteration-count: infinite;
    
    animation-delay: .5s;
    position: absolute;
    top: 93px;
    left: 46px;
}

.present6 {
    animation-name: newYear6 ;
    animation-duration: .8s;
    cursor: pointer;
    animation-iteration-count: infinite;
    
    animation-delay: .5s;
    position: absolute;
    top: 93px;
    right: 46px;
}




@keyframes newYear1 {
    0% {
        top: 93px;
        left: 46px;
    }


    33%{
        top: 93px;
        left: 1000px;
    }


    66% {

        top: 500px;
        left: 46px;
    }

    100% {
        top: 93px;
        left: 46px;
    }
}

@keyframes newYear2 {
    0% {
        top: 93px;
        right: 46px;
    }


    33%{
        top: 93px;
        right: 1000px;
    }


    66% {

        top: 500px;
        right: 46px;
    }

    100% {
        top: 93px;
        right: 46px;
    }
}

@keyframes newYear3 {
    0% {
        bottom: 93px;
        right: 46px;
    }


    33%{
        bottom: 93px;
        right: 1000px;
    }


    66% {

        bottom: 500px;
        right: 46px;
    }

    100% {
        bottom: 93px;
        right: 46px;
    }
}

@keyframes newYear4 {
    0% {
        bottom: 93px;
        left: 46px;
    }


    33%{
        bottom: 93px;
        left: 1000px;
    }


    66% {

        bottom: 500px;
        left: 46px;
    }

    100% {
        bottom: 93px;
        left: 46px;
    }
}

@keyframes newYear5 {
    0% {
        top: 93px;
        left: 46px;
    }


    25%{
        top: 93px;
        left: 1000px;
    }


    50% {

        top: 500px;
        left: 1000px;
    }

    75% {
        top: 500px;
        left: 46px;
    }

    100% {
        top: 93px;
        left: 46px;
    }
    }

@keyframes newYear6 {
    0% {
        top: 93px;
        right: 46px;
    }


    25%{
        top: 93px;
        right: 1000px;
    }


    50% {

        top: 500px;
        right: 1000px;
    }

    75% {
        top: 500px;
        right: 46px;
    }

    100% {
        top: 93px;
        right: 46px;
    }
    }


    .open-modal .modal {
        visibility: visible;
        opacity: 1;
    }


    .modal {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.486);
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;
        /* position: relative; */
    }
    .modal__hero {

        max-width: 500px;
        width: 100%;
        background: #fff;
        height: 300px;
        border-radius: 15px;
        display: flex;
        
        align-items: center;
        justify-content: center;
        position: relative;
        position: relative;
    }

    .modal__title {
        position: absolute;
        top: 0;
        font-size: 25px;
        font-family: sans-serif;
    }

    .modal__close {
        position: absolute;
        top: -100px;
        right: -100px;
        cursor: pointer;
        padding: 5px;
    }
    .modal__close path {
        fill: #fff;
    }


    .answer {
        font-family: sans-serif;
        font-size: 50px;
    }

    .input-there {
        position: absolute;
        bottom: 0;
        left: calc(50% - 150px) ;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .input {
        
        padding: 10px;
        background: yellow;
        width: 300px;
    }

    .help {
        color:#fff;
        font-size: 30px;
        cursor: pointer;
        font-family: sans-serif;
        -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
    }
    .help:hover {
        color: #cecece;
    }

    .input__button {
        padding: 10px;
        background: yellow;
        cursor: pointer;
        font-weight: 700;
    }

    .input__result {
        color: #fff;
        font-size: 40px;
        color: rgb(43, 255, 0);
        font-family: sans-serif;
        font-weight: 700;
    }


